<h1 style="font-size: 150px;">Pizzeria</h1>
<div style="display: flex;
justify-content: center;">
<div  style="width: 100px; margin: 0px 50px;">
    <a routerLink="/users" routerLinkActive="active"><button>Usuarios</button></a>
    <a routerLink="/addusers" routerLinkActive="active"> <button>Agregar Usuario</button></a>
</div>

<div style="width: 100px; margin: 0px 50px;">
    <a routerLink="/pizzas" routerLinkActive="active"><button>Pizzas</button></a>
    <a routerLink="/addpizzas" routerLinkActive="active"> <button>Agregar Pizza</button></a>
</div>

<div style="width: 100px; margin: 0px 50px;">
    <a routerLink="/shapes" routerLinkActive="active"><button>Formas</button></a>
    <a routerLink="/addshapes" routerLinkActive="active"> <button>Agregar Forma</button></a>
</div>

<div style="width: 100px; margin: 0px 50px;">
    <a routerLink="/sauces" routerLinkActive="active"><button>Salsas</button></a>
    <a routerLink="/addsauces" routerLinkActive="active"> <button>Agregar Salsa</button></a>
</div>

<div style="width: 100px; margin: 0px 50px;">
    <a routerLink="/flavors" routerLinkActive="active"><button>Sabores</button></a>
    <a routerLink="/addflavors" routerLinkActive="active"> <button>Agregar Sabor</button></a>
</div>

<div style="width: 100px; margin: 0px 50px;">
    <a routerLink="/sizes" routerLinkActive="active"><button>Tamaños</button></a>
    <a routerLink="/addsizes" routerLinkActive="active"> <button>Agregar Tamaño</button></a>
</div>

</div>